//Customize
ABREPORTALES_PNT_USER = user@domain.com
ABREPORTALES_PNT_PASSWORD = password

//Recipients
ABREPORTALES_DEPENDENCIAS_FILES = "gof agu cam coa dur gua mex nay pue sin tab ver bcn chh col hid mic nle que slp tam yuc bcs chp dif gro jal mor oax roo son tla zac"
ABREPORTALES_EXCLUIDOS = ./excluidos.json

//Message
ABREPORTALES_MENSAJE = ./mensaje.txt
ABREPORTALES_BATCH_SIZE = 20

//Optional
ABREPORTALES_DEPENDENCIAS_PATH = ./dependencias/
ABREPORTALES_PDF_PATH = ./pdf/
ABREPORTALES_JSON_PATH = ./json/
