//Customize
ABREPORTALES_PNT_USER = "user@domain.com"
ABREPORTALES_PNT_PASSWORD = "password"

//Recipients
ABREPORTALES_FILTROS = ./filtros.json

//Message
ABREPORTALES_MENSAJE = ./mensaje.txt
ABREPORTALES_BATCH_SIZE = 20

//Optional
ABREPORTALES_DEPENDENCIAS_PATH = ./dependencias/
ABREPORTALES_PDF_PATH = ./pdf/
ABREPORTALES_JSON_PATH = ./json/
