//Customize
ABREPORTALES_PNT_USER = user@domain.com
ABREPORTALES_PNT_PASSWORD = password
ABREPORTALES_PNT_COOKIE = In the README.md we explain how to get the cookie

//Optional
ABREPORTALES_MENSAJE = ./mensaje.txt
ABREPORTALES_DEPENDENCIA = ./dependencias.json
ABREPORTALES_EXCLUIDOS = ./excluidos.json
ABREPORTALES_BATCH_SIZE = 30
ABREPORTALES_PDF_PATH = ./pdf/
ABREPORTALES_JSON_PATH = ./json/
